.image-upload__dropzone {
    width: 51.2rem;
    height: 51.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.0rem;
    border-width: 0.2rem;
    border-radius: 0.2rem;
    border-color: var(--color--control-minor);
    border-style: dashed;
    outline: none;
    transition: border 0.24s ease-in-out;
}

.image-upload__dropzone--active {
    border-color: var(--color--control-accent-hover);
}
