@media only screen and (width <720px) {
    html {
        /* 8px */
        font-size: 50%;
    }
}

@media only screen and (width >=720px) {
    html {
        /* 10 px */
        font-size: 62.5%;
    }
}

@media only screen and (width >=1240px) {
    html {
        /* font-size: 24px; */
    }
}


body {
    color: var(--color--text-primary);
}

.text-primary {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color--text-primary);
}

.text-secondary {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--color--text-secondary);
}

.text-header {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color--text-primary);
}

.text-control-accent {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color--text-control-accent);
}
