@media only screen and (width <720px) {
    html {
        /* 8px */
        font-size: 50%;
    }
}

@media only screen and (width >=720px) {
    html {
        /* 10 px */
        font-size: 62.5%;
    }
}

@media only screen and (width >=1240px) {
    html {
        /* font-size: 24px; */
    }
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

